body {
    background-color: rgb(213, 209, 209);
    cursor: pointer;
}

#homescreen {
    display: flex;
    /*centers content horizontaly*/
    justify-content: center;
    align-items: center;
    /*centers content vertically*/
    height: 500px;

}

#rules {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 25px;
}

/*Start and Highscore buttons*/
#start {
    font-size: 30px;
}

#scores {
    font-size: 30px;

}

#quizscreen {
    
}